body {
    background-image: url('https://images.pexels.com/photos/2627945/pexels-photo-2627945.jpeg?cs=srgb&dl=pexels-paul-voie-2627945.jpg&fm=jpg');
    background-size: cover;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  #weatherInfo {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
  }
  
/* Медиа-запросы для мобильных устройств */
@media (max-width: 480px) {
  .container {
    max-width: 90%;
  }

  h1 {
    font-size: 20px;
  }

  input {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }

  #weatherInfo {
    font-size: 14px;
  }
}