.traffic-light {
    height: 400px;
    width: 200px;
    background-color: black;
    border-radius: 10px;
    margin: 50px auto;
    padding: 20px;
}

.light {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 20px auto;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}